@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?moosih');
  src:  url('fonts/icomoon.eot?moosih#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?moosih') format('truetype'),
    url('fonts/icomoon.woff?moosih') format('woff'),
    url('fonts/icomoon.svg?moosih#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-choose:before {
  content: "\e90d";
}
.icon-change:before {
  content: "\e90c";
}
.icon-solution:before {
  content: "\e90b";
}
.icon-lightbulb:before {
  content: "\e90a";
}
.icon-myLocation:before {
  content: "\e909";
}
.icon-external-link:before {
  content: "\e908";
}
.icon-circle:before {
  content: "\f111";
}
.icon-reload:before {
  content: "\e906";
}
.icon-link:before {
  content: "\e907";
}
.icon-file-text:before {
  content: "\e905";
}
.icon-clock:before {
  content: "\e904";
}
.icon-cross:before {
  content: "\e903";
}
.icon-pencil:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e901";
}
.icon-list:before {
  content: "\e900";
}
.icon-location:before {
  content: "\e948";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-checkmark:before {
  content: "\ea10";
}
