.icon {
	display: inline-block;
	vertical-align: text-top;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: 'icomoon';
	font-style: normal;
	text-transform: none !important;
}

.icon>.label {
	display: none;
}

.icon-ul {
	padding-left: 0;
	margin-left: 2.142857142857143em;
	list-style-type: none;
	font-family: inherit !important;
	-webkit-font-smoothing: inherit !important;
	-moz-osx-font-smoothing: inherit !important;
	line-height: inherit !important;
}

.icon-ul>li {
	position: relative;
}

.icon-li {
	position: absolute;
	left: -2.142857142857143em;
	width: 2.142857142857143em;
	top: 0.35em;
	text-align: center;
}

.icon-li.icon-lg {
	left: -1.8571428571428572em;
}

.icon-stack {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	vertical-align: middle;
}

.icon-stack-1x, .icon-stack-2x {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
}

.icon-stack-1x {
	line-height: inherit;
}

.icon-stack-2x {
	font-size: 2em;
}

.icon-inverse {
	color: #ffffff;
}

.icon-spin {
  -webkit-animation: icon-spin 0.75s infinite linear;
  animation: icon-spin 0.75s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}